@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.font-space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

:root {
  --primary-green: #95CA3C;
  --secondary-purple: #7A3FC2;
  --gray: #D9D9D9;
}